body {
  margin: 0;
}

.app {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(35, 35, 159, 1) 26%,
    rgba(2, 0, 36, 1) 100%
  );
}
